<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V-If</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="app">
        <span style="color: red;">{{ debug }}</span>
        <h1><div v-if='booleanFirst'>Show if Boolean 1 == true</div>
        <div v-if='booleanSecond'>Show if Boolean 2 == true</div></h1>
        <button v-on:click="booleanFirst = !booleanFirst; booleanSecond = !booleanSecond; refresh();"> Switch Boolean ( v-on:click )</button>
    </div>

    <script>
        const App = {
            data(){
                return {
                    booleanFirst : false,
                    booleanSecond : true,
                    debug : 'debugging will show after click any switch'
                } 
            },
            methods:{
                refresh(){
                    this.debug = `Boolean 1 : ${this.booleanFirst} Boolean 2 : ${this.booleanSecond}`
                }
            }
        }

        Vue.createApp(App).mount('#app')
    </script>
</body>
</html>
